@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fadeSlideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.fade-slide-up-enter {
}

.fade-slide-up-enter-active {
  animation: fadeIn 0.4s ease-out forwards;
}

.fade-slide-up-exit {
}

.fade-slide-up-exit-active {
  animation: fadeSlideUp 0.4s ease-out forwards;
}

.fade-slide-down-enter {
}

.fade-slide-down-enter-active {
  animation: fadeIn 0.8s ease-out forwards;
}

.fade-slide-down-exit {
}

.fade-slide-down-exit-active {
  animation: fadeSlideDown 0.4s ease-out forwards;
}

.fade-enter {
}

.fade-enter-active {
  animation: fadeIn 0.4s ease-out forwards;
}

.fade-exit {
}

.fade-exit-active {
  animation: fadeOut 0.4s ease-out forwards;
}
