@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.fade-slide-enter {
}

.fade-slide-enter-active {
  animation: fadeIn 0.4s ease-out forwards;
}

.fade-slide-exit {
}

.fade-slide-exit-active {
  animation: fadeSlideOut 0.4s ease-out forwards;
}

.fade-enter {
}

.fade-enter-active {
  animation: fadeIn 0.8s ease-out forwards;
}

.fade-exit {
}

.fade-exit-active {
}
